@font-face {
    font-family: "satoshi";
    src: url("../fonts/Satoshi-Regular.woff") format('woff');
  }

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 170px;
    height: 120px;
    font-family: satoshi;
    gap: 15px;
    

    .icon{
        width: 200px;
        height: 200px;
    }
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    justify-content: center;
    li {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        justify-content: center; /* Center the image and Text */

    }
    li img {
        width: 40px;
        display: block;
        margin: 0 auto;
    }
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; /* If you don't want the underline */
}

.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, #bcffb2 25%, #2dfdf4 100%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

.nav-connect:hover {
    transform: scale(1.05);
  }

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display:none;
}

@media(max-width: 1100px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;

    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap: 30px;
        background-color: black;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;

    }
    .nav-menu li{
        font-size: 35px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}