.hero{
    display: flex;
    gap: 30px;
    position: relative;
    margin: 80px 170px;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.right-section {
    margin: auto;
}

.hero img{
    margin-top: 100px;
}

.hero h1{
    text-align: center;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(to right, #bcffb2 25%, #2dfdf4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    text-align: center; /*makes sure text is centered when wraps to new lines*/
    font-size:24px;
    line-height: 40px; /*Sets spacing between the lines vertically*/
}

.hero-action {
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(to right, #bcffb2 25%, #2dfdf4 100%);
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}

.hero-connect:hover {
    border: 2px solid white;
    transform: scale(1.05);
  }

.hero-contact {
    padding: 15px 30px;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.hero-contact:hover {
    border: 2px solid #2dfdf4;
    transform: scale(1.05);
    
  }


.hero #dotsCanvas{
    position:absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

}

@media(max-width: 1060px){
    .hero {
        
        margin: 40px 85px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero img{
        margin-top: 10px;
        height: 100%;
        width: 100%;
    }

    .hero h1{
        font-size: 60px;
    }

    .hero p{
        font-size: 20px;
    }
}

